/frontend/python-project/package-lock.json
/frontend/python-project/.angular
/frontend/python-project/.vscode
/frontend/python-project/node_modules
/frontend/python-project/.editorconfig
/frontend/python-project/angular.json
/frontend/python-project/server.ts
/frontend/python-project/tsconfig.app.json
/frontend/python-project/tsconfig.json
/frontend/python-project/tsconfig.spec.json
/frontend/python-project/whatgitignore
/frontend/package-lock.json
/venv
/history.txt