<div class="sidebar-container">
<app-containers (containerSelected)="onContainerSelected($event)"></app-containers>

<!-- Folder structure display -->
<p-tree [value]="nodes" (onNodeSelect)="onNodeSelect($event)"></p-tree>

      <!-- Only show the p-tree when content is loaded -->
    <div *ngIf="contentLoaded">
      <p-tree  class="sidebar-tree"
              [value]="nodes"
              selectionMode="single"
              [(selection)]="selectedNode"
              (onNodeSelect)="onNodeSelect($event)"
              loadingIcon="pi pi-spinner"
              [loading]="loading">
            </p-tree>
            <button (click)="clearFolderStructure()">Clear Sidebar</button>
            </div>
      <!-- Show options to connect when no content is loaded -->
      <div *ngIf="!contentLoaded" class="drag-drop-area">
        <ngx-dropzone (change)="onDrop($event)" [multiple]="false" [accept]="'*, application/zip, application/x-zip-compressed'">
          <div class="dropzone-label">Drag and drop your .zip archive here</div>
          <div *ngIf="files.length" class="file-list">
            <div *ngFor="let file of files">{{ file.name }}</div>
          </div>
          <input type="hidden" name="upload_type" value="drag_and_drop" />
        </ngx-dropzone>
        <button (click)="connectToGit()">Connect to Git</button>
        <button (click)="connectViaAgent()">Connect via Agent</button>
      </div>
</div>
    