.menu-bar {
    position: fixed;
    width: -webkit-fill-available;
    z-index: 10000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: #100e10;
    border-bottom: 1px solid #ccc;
  }

  .breadcrumb {
    display: flex;
    align-items: center;
    font-size: 14px;
  }

  .breadcrumb-item {
    cursor: pointer;
    color: #34d399;
  }

  .breadcrumb-item:hover {
    text-decoration: underline;
  }

  .menu-buttons {
    display: flex;
    gap: 10px;
  }

  .menu-buttons button {
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    background: #34d399;
    color: black;
    border: 1px solid #34d399;
    border-radius: 4px;
  }

  .menu-buttons button:hover {
    background: #3becab;
  }

  .file-content {
    padding: 10px;
  }

  .editor-container {
    margin-top: 10px;
    position: relative;
    width: 100%;
    height: 80%;
  }
  
  .editor-wrapper {
    display: flex;
    background: #1e1e1e;
    border-radius: 5px;
    border: 1px solid #333;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    font-family: 'Fira Code', monospace;
    color: #d4d4d4;
    width: 100%;
    height: 100%;
  }
  
  .line-numbers {
    padding: 10px;
    text-align: right;
    min-width: 40px;
    height: 100%;
    color: #888;
    background: #2d2d2d;
    border-right: 1px solid #444;
    font-size: 14px;
    overflow-y: hidden;
    top: 0;
    left: 0;
  }

  textarea {
    resize: none;
    overflow-y: auto;
  }
  
  .editor {
    flex-grow: 1;
    padding: 10px;
    height: 100%;
    min-height: 200px;
    /*max-height: 400px;*/
    /*overflow-y: auto;*/
    white-space: pre-wrap; /* Ensures text wraps properly */
    outline: none;
    font-size: 14px;
    color: #d4d4d4;
    background: #1e1e1e;
    width: 100%; /* Ensures it takes the full available width */
    display: block; /* Ensures it behaves like a block element */
  }
  
  .editor:focus {
    background: #252526;
  }
  
  .editor::selection {
    background: rgba(100, 100, 255, 0.3);
  }


  .snackbar-success {
    background-color: #4caf50 !important;
    color: white !important;
  }
  
  .snackbar-error {
    background-color: #f44336 !important;
    color: white !important;
  }
  








