<!-- src/app/components/containers/containers.component.html -->
<div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>
  
  <div *ngIf="!errorMessage && containers.length === 0" class="no-containers-message">
    No containers found for this user.
  </div>
  
  <div *ngIf="containers.length > 0">
    <div>
        <label for="containerSelect">Select Container:</label>
        <select id="containerSelect" (change)="onSelectContainer($event)" [(ngModel)]="selectedContainerId">
          <option value="" disabled *ngIf="!selectedContainerId">Select a container</option>
          <option *ngFor="let container of containers" [value]="container.id">
            {{ container.container_name }} <!-- Replace with container.name if needed -->
          </option>
        </select>
      </div>
    </div>
      
  