<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div *ngFor="let field of yamlStructure">
    <div *ngIf="field.type === 'str'">
      <label>{{ field.name }}</label>
      <input formControlName="{{ field.name }}" type="text" />
    </div>
    <div *ngIf="field.type === 'int'">
      <label>{{ field.name }}</label>
      <input formControlName="{{ field.name }}" type="number" />
    </div>
    <div *ngIf="field.type === 'boolean'">
      <label>{{ field.name }}</label>
      <input formControlName="{{ field.name }}" type="checkbox" />
    </div>
    <div *ngIf="field.type === 'list'">
      <div *ngFor="let item of form.get(field.name)?.value">
        <input formControlName="{{ item }}" />
      </div>
    </div>
    <div *ngIf="field.type === 'dict'">
      <div *ngFor="let subField of field.fields">
        <label>{{ subField.name }}</label>
        <input formControlName="{{ subField.name }}" />
      </div>
    </div>
  </div>
  <button type="submit">Submit</button>
</form>
