<div *ngIf="fileContent !== null; else noContent">
    <h3>File Content:</h3>
    <pre>{{ fileContent }}</pre>
  </div>
  <ng-template #noContent>
    <p>Select a file to display its content</p>
  </ng-template>
  <div *ngIf="loading">
    <p>Loading...</p>
  </div>
  <div *ngIf="errorMessage">
    <p>Error: {{ errorMessage }}</p>
  </div>
  <div>
  <!--  <ngs-code-editor
    [theme]="theme"
    [codeModel]="model"
    [options]="options"
    (valueChanged)="onCodeChange($event)">
  </ngs-code-editor>
  -->
  </div>
  