<mat-toolbar color="primary">
  <button mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <span>Show folders</span>
  <span class="spacer"></span>
  <p-button label="Check" />
  <button mat-button routerLink="/" routerLinkActive="active">Home</button>
  <button mat-button routerLink="/feature1" routerLinkActive="active">Feature 1</button>
  <button mat-button routerLink="/feature2" routerLinkActive="active">Feature 2</button>
  <app-header></app-header>
</mat-toolbar>

<as-split direction="horizontal" class="split-container">

  <!-- Sidebar (Treeview) Section -->
  <as-split-area [size]="15" class="left-area">
    <app-file-environment (fileSelected)="onFileSelected($event)"></app-file-environment>
  </as-split-area>

  <!-- Main Content Area -->
  <as-split-area [size]="85">
    <router-outlet>
      
    </router-outlet>
    <code-form-component></code-form-component>
    <app-file-content [filePath]="selectedFilePath"></app-file-content>
  </as-split-area>
</as-split>
