<div *ngFor="let item of yamlStructure">
    <!-- Render comments -->
    <div *ngIf="item.type === 'comment'" class="comment">
      # {{ item.value }}
    </div>
  
    <!-- Render inputs for editable fields -->
    <div *ngIf="item.type !== 'comment'">
      <label [for]="item.name"><strong>{{ item.name }}</strong>:</label>
      
      <!-- Text input -->
      <input
        *ngIf="item.type === 'str'"
        [id]="item.name"
        [(ngModel)]="item.value"
        type="text"
      />
  
      <!-- Number input -->
      <input
        *ngIf="item.type === 'int'"
        [id]="item.name"
        [(ngModel)]="item.value"
        type="number"
      />
  
      <!-- List input -->
      <div *ngIf="item.type === 'list'">
        <label>List:</label>
        <div *ngFor="let subItem of item.fields; let i = index">
          <input [(ngModel)]="subItem.value" type="text" />
          <button (click)="deleteFieldFromList(item.name, i)">Remove</button>
        </div>
        <button (click)="addFieldToList(item.name)">Add Field</button>
      </div>
  
      <!-- Nested dictionary -->
      <div *ngIf="item.type === 'dict'">
        <code-form-component [yamlStructure]="item.fields"></code-form-component>
      </div>
    </div>
  </div>
  